version: '3.8'

services:
  app:
    container_name: zero-app
    build: .
    ports:
      - "8080:8080"
    environment:
      - SERVER_PORT=8080
      - DB_DSN=postgres://postgres:postgres@db:5432/postgres
    depends_on:
      - db
    restart: on-failure
  
  db:
    image: postgres:15-alpine
    container_name: zero-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"
    volumes:
      - ./sql-bootcamp.sql:/docker-entrypoint-initdb.d/init.sql